<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://mario.wiki.gallery/images/thumb/7/7d/MSOGT_Bowser.png/300px-MSOGT_Bowser.png"
    alt=""
    height="200px"
    srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Novo Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet aliquam pariatur velit rerum aut dignissimos culpa sapiente nemo. Officiis nam laudantium id minus consectetur sequi tempora ab modi consequuntur possimus.
    </a>
    </p>
  </div>

</div>
