<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/03/29/super-mario-bros-filme_capa2-t89o30qrt9h2.jpg"
      alt=""
      height="200px"
      srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="#">Lançamento do filme do Mario</a></h1>
    </div>
  </div>

  <div class="container__small-card-separator">
    <hr/>
  </div>

</div>

